@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@600;700&display=swap");
@import "https://fonts.googleapis.com/css?family=Open+Sans+Condensed:300";

@font-face {
  font-family: raleway_f;
  src: url(../fonts/raleway-regular.woff2);
}
@font-face {
  font-family: raleway_f;
  src: url(../fonts/raleway-black.woff2);
  font-weight: 900;
}
body {
  background-color: #010101;
  font-family: raleway_f, sans-serif;
  line-height: 1.55;

}
nav {
  font-family: raleway_f, sans-serif;
  position: absolute;
  display: flex;
  align-items: center;
  height: 100px;
}
nav .menu-icon {
  cursor: pointer;
  display: none;
  position: fixed;
  z-index: 1;
  cursor: pointer;
}
nav .menu-icon img {
  right: 2%;

  position: fixed;

}
nav ul {
  display: flex;
  list-style: none;
  z-index: 2;
  position: absolute;
 
 
}
nav ul li {
  right: 0%;
  padding: 0 15px;
}
nav ul li a {
  right: 0%;
  text-decoration: none;
  font-size: 17px;
  text-transform: uppercase;
  color: beige;
}
nav ul button {
  background: none;
  color: aliceblue;
  padding: 10px 20px;
 border: none;

 border-radius: 30px;
  font-size: 1em;

  margin-left: 15px;
  margin-right: 20px;
  cursor: pointer;
  transition: all 400ms ease;
  transform-style: preserve-3d;
}


nav ul button:hover {
  border: none;
  background: -webkit-linear-gradient(#c9fff7, #616167);
  border: 3px solid rgb(0, 0, 0);
  color: black;
}

@media (max-width: 770px) {
  

  nav .menu-icon {
    display: block;
    right: 0;
    position: fixed;
    padding-right: 15px;
    margin: 0;
    margin-top: 10%;
    position: absolute;

  }
  nav .menu-icon img{
   
    margin-top: 10%;
    

  }

  nav ul {
    position: fixed;
    width: 55%;
    z-index: 2;
    height: 100%;
    top: 0;
    left: 0;
    transform: translateX(-100%);
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    transition: 0.5s ease-in;
    background: -webkit-linear-gradient(#c9fff7, #c0c3ff);
   
  }
  nav ul.active {
    transform: translateX(0);
  }
  nav ul li {
    padding: 10px;
  }
  nav ul li a {
    font-size: 18px;
    color: aliceblue;
  }
  nav ul button {
    background: -webkit-linear-gradient(#96c5be, #242223);
    width: 150px;

    font-size: 18px;
    margin: 10px;
  }
  
}