@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@600;700&display=swap");
@import "https://fonts.googleapis.com/css?family=Open+Sans+Condensed:300";
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}
:root {
  --color: #e08e00;
}
@font-face{
  font-family: 'montage';
  src: url('font/Montage-Demo.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}
html {
  scroll-behavior: smooth;
  scroll-padding-top: 98px;
}
body {
  margin: 0;
  background: #000000;

  min-height: 100vh;
  overflow-x: hidden;
}

.texx,
.text-t,
.img-avatar,
.resumo {
  visibility: hidden;
}
.wrap {
  cursor: pointer;
  height: 100%;
  display: block;
  align-items: center;
  margin-left: -7px;
  z-index: 8;
}



.button::before {
  content: "";
  border-radius: 1000px;
  min-width: calc(250px + 12px);
  min-height: calc(60px + 12px);
  border: 6px solid #ffffff;
  box-shadow: 0 0 60px rgba(#8b5cf6);
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  opacity: 0;
  transition: all 0.3s ease-in-out 0s;
}

.button:hover,
.button:focus {
  color: #313133;
  transform: translateY(-6px);
}

.button:hover::before,
button:focus::before {
  opacity: 1;
}

.button::after {
  content: "";
  width: 30px;
  height: 30px;
  border-radius: 100%;
  border: 6px solid #8b5cf6;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  animation: ring 1.5s infinite;
}

.button:hover::after,
button:focus::after {
  animation: none;
  display: none;
}
.b-l {
  width: 100px;
  height: 100px;
  background: -webkit-linear-gradient(#8b5cf6, #ec4899);
  position: absolute;
  top: -170%;
  border-radius: 50%;
  z-index: -4;
  display: flex;
  left: 0%;
  transform: translateX(-50%);
}
.b-r {
  width: 100px;
  height: 100px;
  background: -webkit-linear-gradient(#8b5cf6, #ec4899);
  position: absolute;
  top: -170%;
  border-radius: 50%;

  display: flex;
  right: 0%;
  transform: translateX(50%);
}

@keyframes ring {
  0% {
    width: 30px;
    height: 30px;
    opacity: 1;
  }
  100% {
    width: 300px;
    height: 300px;
    opacity: 0;
  }
}
.loading {
  position: fixed;
  width: 100%;
  height: 100vh;
  background-color: #000000;
  top: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 3;
  overflow-y: hidden;
}

.spinner {
  position: relative;
  width: 8rem;
  height: 8rem;
  border-radius: 50%;
}
.spinner::before,
.spinner::after {
  content: "";
  position: absolute;
  border-radius: 50%;
}

.spinner::before {
  width: 100%;
  height: 100%;
  background-image: linear-gradient(90deg, #6f57a8 0%, #ec4899 100%);
  animation: spin 0.5s infinite linear;
}

@keyframes spin {
  to {
    transform: rotate(360deg);
    transform: translateX(-50%);
  }
}
/*.spinner:after{
  width: 90%;
  height: 90%;
  background-color: rgb(244, 211, 211);
  top:50%;
  left:50%;
  transform: translate(-50%, -50%);
}*/
.porcent {
  color: #f700ff;
  font-size: 25px;
  font-weight: 400;
  z-index: 1;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.loading label h1 {
  top: 50%; /* 3 */
  transform: translate(0, 800%);
}
.container0 {
  position: relative;
  background-image: url(img/bg.jpg);
  background-size: 100% 100vh;
  margin: 0 auto;
  width: 100%;
  height: 100vh;
}
nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 100px;
}
nav .menu-icon {
  cursor: pointer;
  display: none;
  position: fixed;
  z-index: 1;
  cursor: pointer;
}
nav .menu-icon img {
  right: 2%;

  position: fixed;
}
.logo {
  margin-left: 50px;
  position: relative;
  top: -10%;
}
.logo img {
  left: 10%;
}
nav .logo a {
  font-size: 35px;
  font-weight: bold;
  color: blanchedalmond;
  text-decoration: none;
}
nav ul {
  display: flex;
  list-style: none;
  z-index: 2;
  position: relative;
  align-items: center;
}
nav ul li {
  padding: 0 15px;
}
nav ul li a {
  text-decoration: none;
  font-size: 17px;
  text-transform: uppercase;
  color: beige;
}
nav ul button {
  background: none;
  color: aliceblue;
  padding: 10px 20px;
 border: none;
 border-radius: 30px;
  font-size: 16px;
  letter-spacing: 1px;
  margin-left: 15px;
  margin-right: 20px;
  cursor: pointer;
}
nav ul button #b {
  background: -webkit-linear-gradient(#c9fff7, #c0c3ff);
  border: 2px solid white;
 
}

nav ul button:hover {
  border: none;
  background: -webkit-linear-gradient(#c9fff7, #c0c3ff);
  border: 3px solid rgb(0, 0, 0);
  color: black;
}
main {
  margin-top: 0px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.script {
  color: wheat;
}

.text-bx {
  margin-left: 50px;
  width: 40%;
}
.text-bx h1 {
  font-size: 3rem;
  color: aliceblue;
  text-transform: uppercase;
}
.text-bx h1 b {
  background: -webkit-linear-gradient(#f59e0b, #ef4444);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
h1 {
  color: aliceblue;
}
.wrap {
  cursor: pointer;
  height: 100%;
  display: block;
  align-items: center;
  margin-left: -7px;
  z-index: 8;
}
.text-bx p {
  color: aliceblue;
  font-weight: 400;
  font-size: 32px;
  margin-top: 20px;
}
.text-bx .input-bx {
  margin: 20px 0;
  display: flex;
}
.text-bx .input-bx input {
  width: 60%;
  display: block;
  height: 50px;
  padding: 10px;
  border: none;
  outline: none;
  color: rgb(3, 3, 3);
  font-size: 16px;
}
.text-bx .input-bx input::placeholder {
  color: rgb(5, 5, 5);
}
.text-bx .input-bx button {
  outline: none;
  border: none;
  padding: 10px 20px;
  background: -webkit-linear-gradient(#817895, #ec4899);
  color: rgb(255, 255, 255);
  cursor: pointer;
  font-size: 15px;
}
.medias-sociais {
  position: relative;
  background: -webkit-linear-gradient(#8b5cf6, #ec4899);
  position: absolute;
  left: 50%;
  width: 100%;
  text-align: center;
  bottom: 0;
  transform: translateX(-50%);
}
.medias-sociais i {
  font-size: 23px;
  margin: 0 3px;
  color: rgb(255, 255, 255);
  padding: 7px;
  transition: all 1000 ease;
  border-radius: 5px;
  transition: all 100ms ease;
  transform-style: preserve-3d;
}
.medias-sociais i:hover {
  transform: translateY(-2%);
  width: 10%;
}
.b-l {
  width: 100px;
  height: 100px;
  background: -webkit-linear-gradient(#8b5cf6, #ec4899);
  position: absolute;
  top: -170%;
  border-radius: 50%;
  z-index: -4;
  display: flex;
  left: 0%;
  transform: translateX(-50%);
}
.b-r {
  width: 100px;
  height: 100px;
  background: -webkit-linear-gradient(#8b5cf6, #ec4899);
  position: absolute;
  top: -170%;
  border-radius: 50%;

  display: flex;
  right: 0%;
  transform: translateX(50%);
}
.img-bx {
  width: 70%;
}
.img-bx img {
  width: 40%;
  right: -1%;
  bottom: 0;

  position: absolute;
}
.img-avatar img {
  margin: 0 auto;
  left: 50%;
  transform: translateX(20%);
  width: 500px;
  height: auto;
  position: relative;
  margin-bottom: -100px;
  margin-top: -900px;
}
.borda {
  position: absolute;
  left: 0;
  bottom: 0;
  z-index: 1;
  width: 200px;
  height: 200px;
}

.borda-r {
  position: absolute;
  right: 0;
  z-index: 1;
  color: antiquewhite;
  width: 200px;
  height: 200px;
  bottom: 0;
}

@media (max-width: 770px) {
  * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
  }
  html {
    scroll-behavior: smooth;
    scroll-padding-top: 98px;
  }
  body {
    position: relative;
    background-color: black;
    min-height: 100vh;
    display: block;
    width: 100%;
    overflow-x: hidden;
    z-index: 55;
  }
  .container0 {
    position: relative;
    width: 100%;
    height: 630px;
    display: block;
    margin: 0 auto;
    padding: 0;
    z-index: 1;
    background-image: url(img/bg.jpg);
    background-size: 1100px 100%;
  }

  .wrap {
    position: relative;
    cursor: pointer;
    height: 100%;
    display: block;
    align-items: center;
    margin-left: -7px;
    z-index: 4;
    margin-top: 100px;
  }

  .button {
    cursor: pointer;
    min-width: 250px;
    min-height: 60px;
    font-family: "Poppins", sans-serif;
    font-size: 22px;
    text-transform: uppercase;
    letter-spacing: 1.3px;
    font-weight: 700;
    color: #ffffff;
    background: -webkit-linear-gradient(#8b5cf6, #ec4899);
    background: linear-gradient(90deg, rgba(#8b5cf6) 0%, rgba(#ec4899) 100%);
    border: none;
    z-index: 5;
    border-radius: 1000px;
    box-shadow: 12px 12px 24px rgba(#ffffff);
    transition: all 0.3s ease-in-out 0s;
    cursor: pointer;
    outline: none;
    position: relative;
    padding: 10px;
    left: 3%;
  }

  .button::before {
    content: "";
    border-radius: 1000px;
    min-width: calc(250px + 12px);
    min-height: calc(60px + 12px);
    border: 6px solid #ffffff;
    box-shadow: 0 0 60px rgba(#8b5cf6);
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    opacity: 0;
    transition: all 0.3s ease-in-out 0s;
  }

  .button:hover,
  .button:focus {
    color: #313133;
    transform: translateY(-6px);
  }

  .button:hover::before,
  button:focus::before {
    opacity: 1;
  }

  .button::after {
    content: "";
    width: 30px;
    height: 30px;
    border-radius: 100%;
    border: 6px solid #8b5cf6;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    animation: ring 1.5s infinite;
  }

  .button:hover::after,
  button:focus::after {
    animation: none;
    display: none;
  }

  @keyframes ring {
    0% {
      width: 30px;
      height: 30px;
      opacity: 1;
    }
    100% {
      width: 300px;
      height: 300px;
      opacity: 0;
    }
  }
  .loading {
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: #000000;
    top: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 3;
    overflow: hidden;
  }
  .spinner {
    position: relative;
    width: 8rem;
    height: 8rem;
    top: -22%;
    transform: translateY(-300%);
    border-radius: 50%;
  }
  nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 100px;
  }
  nav .menu-icon {
    display: block;
    right: 0;

    padding-right: 15px;
    margin: 0;
    position: absolute;

  }
  .logo {
    display: flex;
    left: 0;
    padding-left: 15%;
    margin: 0;
    z-index: 3;
    position: absolute;
  }
  nav ul {
    position: fixed;
    width: 45%;
    z-index: 2;
    height: 100%;
    top: 0;
    left: 0;
    transform: translateX(-100%);
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    transition: 0.5s ease-in;
    background: -webkit-linear-gradient(#c9fff7, #c0c3ff);
  }
  nav ul.active {
    transform: translateX(0);
  }
  nav ul li {
    padding: 10px;
  }
  nav ul li a {
    font-size: 18px;
    color: aliceblue;
  }
  nav ul button {
    background: -webkit-linear-gradient(#96c5be, #242223);
    width: 150px;

    font-size: 18px;
    margin: 10px;
  }
  .text-bx {
    width: 100%;
    position: absolute;
    left: 50%;
    display: block;
    top: 100px;

    margin: auto;
    transform: translateX(-50%);
    text-align: cnter;
  }
  .text-bx h1 {
    width: 100%;
    font-size: 3.5vh;
    text-indent: 0px;
    display: flex;
    text-align: center;
    text-justify: inter-word;
    text-transform: none;
  }
  .text-bx p {
    font-size: 3.3vh;
    text-align: center;
    padding-left: 10px;
    padding-right: 10px;
  }

  .text-bx {
    margin-bottom: 40px;
  }
  .text-bx.input-bx {
    justify-content: center;
  }
  .medias-sociais {
    z-index: 1;
    margin-top: 1000px;
    width: 100%;
    align-items: center;
    text-align: center;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
  }
  .b-l {
    width: 100px;
    height: 100px;
    background: -webkit-linear-gradient(#8b5cf6, #ec4899);
    position: absolute;
    top: -170%;
    border-radius: 50%;
    z-index: -4;
    display: flex;
    left: 0%;
    transform: translateX(-50%);
  }
  .b-r {
    width: 100px;
    height: 100px;
    background: -webkit-linear-gradient(#8b5cf6, #ec4899);
    position: absolute;
    top: -170%;
    border-radius: 50%;

    display: flex;
    right: 0%;
    transform: translateX(50%);
  }
  .card-creator .follow {
    padding: 1rem 1rem;
    font-size: 2rem;
    border-radius: 10px;
    cursor: pointer;
    
  }
  .borda3 {
    position: absolute;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
    margin-top: -180px;
    border-radius: 40%;
    width: 200px;
    height: 200px;
    background: -webkit-linear-gradient(#ec4899, #8b5cf6);
  }

  .img-bx img {
    position: absolute;
    width: 230px;
    top: 300px;
    margin-left: auto;
    margin-right: auto;
    margin: auto;
    right: 50%;
    transform: translateX(50%);
    display: block;
    z-index: -1;
    justify-content: center;
    bottom: 20%;
  }
  .img-avatar img {
    margin: 0 auto;
    left: 50%;
    transform: translateX(-50%);
    width: 300px;
    height: auto;
    position: relative;
    margin-bottom: -20px;
  }
  .wrap {
    position: absolute;
    height: 100%;
    display: block;
    align-items: center;
    left: 50%;
    padding-left: px;
    transform: translateX(-50%);
    top: 290px;
  }

  .button {
    position: absolute;
    min-width: 200px;
    min-height: 60px;
    font-family: "Poppins";
    font-size: 22px;
    text-transform: uppercase;
    letter-spacing: 1.3px;
    font-weight: 700;
    color: #ffffff;
    background: -webkit-linear-gradient(#8b5cf6, #ec4899);
    background: linear-gradient(90deg, rgba(#8b5cf6) 0%, rgba(#ec4899) 100%);
    border: none;
    border-radius: 1000px;
    box-shadow: 12px 12px 24px rgba(#ffffff);
    transition: all 0.3s ease-in-out 0s;
    cursor: pointer;
    outline: none;

    position: relative;
  }

  .button::before {
    content: "";
    border-radius: 1000px;
    min-width: calc(200px + 12px);
    min-height: calc(60px + 12px);
    border: 6px solid #ffffff;
    box-shadow: 0 0 60px rgba(#8b5cf6);
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    opacity: 0;
    transition: all 0.3s ease-in-out 0s;
  }

  .button:hover,
  .button:focus {
    color: #313133;
    transform: translateY(-6px);
  }

  .button:hover::before,
  button:focus::before {
    opacity: 1;
  }

  .button::after {
    content: "";
    width: 30px;
    height: 30px;
    border-radius: 100%;
    border: 6px solid #8b5cf6;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    animation: ring 1.5s infinite;
  }

  .button:hover::after,
  button:focus::after {
    animation: none;
    display: none;
  }

  @keyframes ring {
    0% {
      width: 30px;
      height: 30px;
      opacity: 1;
    }
    100% {
      width: 300px;
      height: 300px;
      opacity: 0;
    }
  }
}

.roxo {
  background: -webkit-linear-gradient(#8b5cf6, #ec4899);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.laranja {
  background: -webkit-linear-gradient(#f59e0b, #ef4444);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
/* Eclipse */

.eclipse {
  position: absolute;
  width: 500px;
  height: 723.06px;
  left: -365px;
  top: -200px;
  background: linear-gradient(180deg, rgba(0, 194, 255, 0) 0%, #ff29c3 100%);
  opacity: 0.3;
  filter: blur(100px);
  transform: rotate(-17.38deg);
}
